# Virtual Environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Environment files
.env

# Secret keys
.webui_secret_key

# Database / temp
*.db
*.sqlite3

# OS files
.DS_Store
Thumbs.db